/* フォント変更 */
body {
    font-family: "Mplus 1p";
    font-weight: 300;
    background-color: #FAFAFA;
}

/*navbarの太さ*/
.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #323232 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* collapseのボタンの枠線を非表示 */
.navbar-light .navbar-toggler {
    border:none;
}

.three-buttons {
    margin-top: 10px !important;
}

h2 {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 2px solid #212121;
    border-bottom: 2px solid #212121;
}

h3 {
    margin: 20px 0 !important;
}
.collapse_button {
    font-size: 1.2rem;
    padding:0;
    text-decoration:none !important;
    color: #212121 !important;
}
.collapse_button>.h4 {
    margin-bottom: 0;
}